<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{normal/baseN::layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title th:text="${title}">Show Contacts</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>

<body>
	<section>

		<div class="card mr-3 ml-3 ">
			<div class="card-body">
				<div class="container">
					<h2 class="text-center mb-4">📇 Your Contacts</h2>

					<!-- When no contacts -->
					<div th:if="${#lists.isEmpty(contactPage.content)}"
						class="alert alert-info text-center">No contacts found.
						Please add a new contact.</div>

					<!-- Contacts table -->
					<div class="table-container"
						th:if="${!#lists.isEmpty(contactPage.content)}">
						<table class="table table-hover align-middle">
							<thead class="table-light">
								<tr>
									<th>#</th>
									<th>Photo</th>
									<th>Name</th>
									<th>Email</th>
									<th>Phone</th>
									<th>Work</th>
									<th class="action-col">Actions</th>
								</tr>
							</thead>

							<tbody>
								<tr th:each="contact, stat : ${contactPage.content}">
									<td th:text="${stat.index + 1 + (contactPage.number * contactPage.size)}">1</td>

									<!-- Image -->
									<td><img class = "image_show" alt="default.jpg" th:src="@{'/img/'+${contact.imageId}}"> <br>
									</td>

									<td><strong th:text="${contact.name}">Name</strong><br>
										<small class="text-muted" th:text="${contact.nickname}">Nickname</small>
									</td>

									<td th:text="${contact.email}">email@gmail.com</td>
									<td th:text="${contact.phoneNumber}">9999999999</td>
									<td th:text="${contact.work}">Developer</td>

									<!-- Actions -->
									<td class="action-col"><a
										th:href="@{'/userControll/contact/' + ${contact.email}}"
										class="btn btn-sm btn-primary">View</a> <a
										th:href="@{'/contact/edit/' + ${contact.id}}"
										class="btn btn-sm btn-warning">Update</a> <a
										th:href="@{'/contact/delete/' + ${contact.id}}"
										class="btn btn-sm btn-danger"
										onclick="return confirm('Are you sure?')"> Delete </a></td>
								</tr>
							</tbody>
						</table>
						<div class="pagination" th:if="${contactPage.totalPages > 0}">

							<!-- Prev -->
							<a th:if="${contactPage.hasPrevious()}"
								th:href="@{/userControll/show-contacts(page=${contactPage.number}, size=${contactPage.size})}">
								« Prev </a>

							<!-- Page Numbers -->
							<a th:each="pageNumber : ${pageNumbers}"
								th:href="@{/userControll/show-contacts(page=${pageNumber}, size=${contactPage.size})}"
								th:text="${pageNumber}"
								th:class="${pageNumber == contactPage.number + 1} ? active">
							</a>

							<!-- Next -->
							<a th:if="${contactPage.hasNext()}"
								th:href="@{/userControll/show-contacts(page=${contactPage.number + 2}, size=${contactPage.size})}">
								Next » </a>

						</div>


					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
