#http://localhost:8080/swagger-ui/index.html

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/suryacart_user
    username: postgres
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  main:
    allow-bean-definition-overriding: true